::-webkit-scrollbar{
  display: none;
}
body{
    margin: 0;
    background-color: #0F0F0F;
    font-family: Arial;
    background-image: url("C:/Users/User/Documents/GitHub/Ebookkeeper/images/wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: 200ms;
}
header{
    height: 5em;
    width: 100%;
    font-size: 30px;
    position: fixed;
    top: 0px;
    background-color: #0f0f0f83;
    z-index: 99;
}
header a{
    color: white;
    text-decoration: none;
    margin: 10em;
    margin-bottom: 20em;
    letter-spacing: 2px;

    position: relative;
    left: -6.666em;
}
.purple{
    color: #AE8160;
}
.headerContent{
    border-bottom: solid white 1.5px;
    width: 45%;
    margin: auto;
    margin-top: 2.5em;
}
.services{
    width: 60%;
    margin: auto;
    margin-top: 22em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.service{
    background-color: #222222;
    width: 8em;
    height: 10em;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    padding-top: 1em;
    transition: all 300ms;
    opacity: .9;
}
.service:hover{
  height: 13em;
  transform: translateY(-4em);
  background-color: #AE8160; /*#AE8160, #2A3A5E, #624DCE*/
}
.moreinfo{
  display: none;
  font-size: 15px;
  padding-top: 3em;
  width: 75%;
  margin: auto;
}
.service:hover .moreinfo{
  display: block;
}
#blob {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  filter: blur(60px);
  z-index: -1;
  transition: 230ms;
}
footer{
  columns: 4;
  color: #858585;
  width: 50%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 3em;
  border: none;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: #858585;
}
footer a:hover{
  text-decoration: underline;
}
hr{
  width: 50%;
  margin: auto;
  margin-top:40em;
}